{
    # Options
    name: 'pdjs' # (name to be outputted in log messages) String or null
    log: true # (log status updates to console?) true or false
    watch: true # (automatically rebuild on file change?) true or false

    # Paths
    srcPath: 'js' # String
    outPath: 'min' # String or false

    checkScripts: false # Array or true or false

    compressScripts: true # Array or true or false

}