body {
  background-color: #eee;
}
.pdjs_triggered {
  background-color: #ff6633;
  border-color: #880000;
}
.pdjs_acknowledged {
  background-color: #ffff33;
  border-color: #888800;
}
.pdjs_resolved {
  background-color: #66ff33;
  border-color: #008800;
}
.pdjs_disabled {
  color: #333;
  background-color: #ddd;
  border-color: #888;
}
.pdjs_icon, .pdjs_schedule {
  border: 1px solid #ddd;
  padding: 12px;
  margin: 8px;
  display: block;
  text-align: center;
  vertical-align: middle;
  transition: all 0.5s ease; 
}
.pdjs_icon_big {
  padding: 16px;
  margin: 8px;
  font-size:200%;
}