div#incidents div{
  float: left;
  position:relative;
  padding: 1em 4em; margin: 1em;
  text-align: center;
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
  -ms-transition: background 1s linear;
  -o-transition: background 1s linear;
  transition: background 1s linear;  
  opacity: 1;
}
div.triggered {
  background-color: #fcc;
  border: 2px solid #800;
}
div.acknowledged {
  background-color: #ffc;
  border: 2px solid #880;
}
div.resolved {
  background-color: #cfc;
  border: 2px solid #080;
}